@import url('https://fonts.googleapis.com/css2?family=Onest:wght@500&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Onest', sans-serif;
    background-color: white;
    padding:none;
    background-color: #250902;
    padding: 20px;
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: center;
    background-color: #800e13;
    color:white;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0px 5px #201b1b;
}
.header h1{
    font-size: 50px;
    text-align: center;
}
.header p{
    font-style: italic;
}
.navbar{
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: #640d14;
    border-radius: 5px;
    box-shadow: 0px 5px #201b1b;
}
.navbar ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    gap: 50px;
    padding:10px;
}
.navbar li{
    font-size: 25px;
    padding:10px;
    border-radius: 10px;
    transition: 0.15s;
}
.navbar li:hover{
    background-color: #800e13;
}
.navbar a{
    color: white;
    text-decoration: none;
    font-size: larger;
}
.introduction{
    padding: 100px;
    color: white;
}
.introduction h2{
    font-size: 25px;
    display: flex;
    justify-content: center;
}
.introduction p{
    display: flex;
    justify-content: right;
    width: 60%;
}
.home-content{
    display: flex;
    color: white;
}
.opinion-of-the-day{
    overflow: auto;
    width: 70%;
    padding: 10px;
    background-color: #640d14;
    margin: 5px;
    border-radius: 5px;
    overflow-wrap: normal;
}
.form{
    width:30%;
    padding: 10px;
    background-color: #640d14;
    margin: 5px; 
    border-radius: 5px;
}
.form h2{
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}
.form label{
    padding: 5px;
    font-size: 20px;
}
.form input{
    border:none;
    border-bottom: 2px solid rgb(255,255,255,0.5);
    font-family: 'Onest', sans-serif;
    padding: 5px;
    margin-bottom: 10px;
    font-size:14px;
    outline:none;
    background-color: inherit;
    color:white;
}
textarea{
    border:none;
    border-bottom: 2px solid rgb(255,255,255,0.5);
    font-size: 14px;
    padding: 5px;
    outline:none;
    font-family: 'Onest', sans-serif;
    resize: none;
    background-color: inherit;
    color:white;
}
#form-submit{
    margin-top:10px;
    width: 40%;
    padding: 10px;
    border-radius: 5px;
    border: 0px;
    background-color: white;
    color:black;
    cursor: pointer;
    transition: 0.1s;
}
#form-submit:hover{
    background-color: #569cc5;
    color:white;
}
.footer{
    color:white;
}